body{
    margin: 0;
    cursor: url('images/ninja.png'), default;
}

nav{    
    align-items: center;
    background-color: #e98251;
    display: flex;
    height: 80px;
    justify-content: space-evenly;
}

nav a{
    color: #17386d;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20pt;
    text-decoration: none;
}

header {
    background-image: url("images/5kages.jpg");
    background-size: cover;
    height: 618px;
}

section{
    background-color: #b0946b;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Rubik Mono One', sans-serif;    
    font-size: 8pt;
}

section div{
    text-align: center;
    width: 40%;
    }

div ul{
    list-style-image: url("images/ninja.png");
}

ul li:nth-child(odd){
    color: white;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    color: #772600;
    font-size: 15pt;
}

input::placeholder{
    font-family: 'Rubik Mono One', sans-serif;    
}

input:focus{
    background-color: #e98251;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
